
.userContainer-userPage {
    max-width: var( --maxWidthMainThread);
    margin: 0 auto;
    padding: var( --paddingCardContainer);
    
}
.userFlexItem-userPage {
    display: flex;
    align-items: center;
    gap: 25px;
}


/* UserInfo Container__________________________________ */
.profilePicture-accountPage {
    border-radius: var( --CIRKLE);
    height: 250px;
    width: 250px;
    background-size: cover;
    background-position: center;
    margin: 15px;
}

.imgEditContainer {
    position: relative;
}

.userInfo {
    position: relative;
    width: 100%;
}

.infoParent {
    display: flex;
    justify-content: space-between;
    padding: var( --paddingCardContainer) 0;
    gap: 20px;
}

.info {
    position: relative;
    padding: var(--paddingButtons);
    background-color: var( --glassMorphism);
    border-radius: var(--borderradiusSmall);
    width: 100%;
    height: 50px;
}

.info::before {
    position: absolute;
    top: -30px;
    left: 0px;
    color: var( --pointOfInterest);
    font-size: var(--usernames);
}

.fullname::before {
    content: "Fullname";
}
.discord::before {
    content: "Discord";
}
.profileBio::before {
    content: "Bio";
}

.profileBio {
    height: 105px;
    margin-top: 50px;
}

input[type="file"] {
    display: none;
}


/* Buttons Edit ______________________________________________ */
.editProfileImage {
    background-color: var(--pointOfInterest);
    border-radius: var( --borderradiusSmall);
    padding: var( --paddingCardContainer);

    position: absolute;
    bottom: 10px;
    left: 20px;
    cursor: pointer;

    transition: all .2s ease-in;
}

.editProfileImage::before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;

    background-image: url( "/RESOURCES/ICONS/changePI.png");
    background-size: cover;
}
.editProfileImage:hover {
    transform: scale( 1.1);
    background-color: var( --pointOfInterestHover);
}

.pushNotification::before {
    content: "❕";
    background-color: #c92f0d;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: -9px;
}

#editButton {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    bottom: 0;

    transition: all .3s ease;
}

#editButton:hover {
    transform: scale( 1.2);
}

#editButton::after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;

    background-size: cover;
    transform: scale( 1.5);
}

.editProfileInfo::after {
    background-image: url( "/RESOURCES/ICONS/editProfileInfo.png");
}

.saveProfileInfo::after {
    background-image: url( "/RESOURCES/ICONS/saveEditProfileInfo.png");
}

.saveProfileInfo {
    background-color: var( --saveOfInterest);
}

.imgMessage {
    position: absolute;
}