.profilSettings-accountPage {
    /* display: flex; */
    margin: 2%;
}

.profilePicture-accountPage {
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
    max-width: 200px;
}

.profilePicture-accountPage img {
    height: 200px;
}

.profilSettings-accountPage button {
    width: 200px;
}

.userCredntials-accountPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.userInfo {
    display: flex;
    gap: 120px;
}

.info {
    padding: 10px;
    background-color: #ffffff0c;
    width: 100%;
}

.secondDiv {
    display: flex;
}

.profileBio {
    max-width: 600px;
}