@font-face {
    font-family: 'Rubik-Bold', sans-serif;
    src: url("../RESOURCES/FONTS/Rubik-Regular.ttf");
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url("../RESOURCES/FONTS/MINIMALHARD2\ Regular.ttf");
}

@font-face {
    font-family: 'MINIMALHARD2';
    src: url("../RESOURCES/FONTS/MINIMALHARD2\ Regular.ttf");
}

:root {

    /* COLORS________________________________________________________________ */
    /* --mainBackgroundColor: #0d1116;
    --lightModeBackgroundColor: #ededed; */
    /* --textColor: #f5f5f5; */
    
    --pointOfInterest: #576bbc;
    --pointOfInterestHover: #82cde7; 
    --saveOfInterest: #61bc57;
    --redPointOfInterestHover: #ff0080;
    --redPointOfInterest: #c20b66;
    
    /* --darkMorphism: #100f15af;
    --glassMorphism: #ffffff0c;
    --lightMorphism: #100f156f; */

    /* FONTSIZES______________________________________________________________ */
    --titles: 52px;
    --bodyText: 24px;
    --usernames: 18px;
    --smallText: 14px;
    --modularSmallText: 1vw;

    /* Padding General________________________________________________________ */
    --paddingCardContainer: 10px;
    --paddingButtons: 15px;
    --paddingSections: 25px;

    /* BorderRadius____________________________________________________________ */
    --borderradiusSmall: 5px;
    --borderradiusMedium: 15px;
    --borderradiusLarge: 25px;
    --CIRKLE: 25%;

    /* Widths__________________________________________________________________ */
    --maxWidthMainThread: 75rem;
}
:root[data-theme="light"] {
    --mainBackgroundColor: #ededed;
    --textColor: #343434;

    --darkMorphism: #59595953;
    --glassMorphism: #ffffff59;
    --lightMorphism: #b7b7b734;

    --pointOfInterest: #91C788;
    --pointOfInterestHover: #DDFFBC; 
    --saveOfInterest: #FEFFDE;
    --redPointOfInterestHover: #ff0080;
    --redPointOfInterest: #c20b66;
}

:root[data-theme="dark"]{
    --mainBackgroundColor: #0d1116;
    --textColor: #f5f5f5;

    --darkMorphism: #100f15af;
    --glassMorphism: #ffffff0c;
    --lightMorphism: #100f156f;

    --pointOfInterest: #576bbc;
    --pointOfInterestHover: #82cde7; 
    --saveOfInterest: #61bc57;
    --redPointOfInterestHover: #ff0080;
    --redPointOfInterest: #c20b66;

}


* {
    box-sizing: border-box;
    margin: 0;
    color: var(--textColor);  
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainBackgroundColor);
    margin: 0;
    /* height: 100vh; */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--paddingSections);
}

main {
    margin: 2%;
}

footer {
    background-color: var( --mainBackgroundColor);
    padding: 5vw;
    margin-top: 70px;
}

footer p,
footer h3 {
    text-align: center;
    padding: var( --paddingCardContainer);
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--smallText);
}

.backgroundImage {
    top: 0;
    height: 100%;
    width: 95%;
    position: fixed;
    z-index: -1;
    filter: blur(35px);
    transform: scale(1.1);
    
    /* mix-blend-mode: var(--blendModeBP); */
    object-fit: cover;
    /* animation: backgroundImageMovement 10s ease-in-out infinite; */
}

/* INPUTS__________________________________________________________________________ */

input,
textarea {
    color: var( --textColor);
    width: 100%;
    background-color: var(--glassMorphism);
    /* color: white; */
    border: none;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
}

/* Buttons_________________________________________________________________________ */

button {
    padding: var( --paddingButtons);
    background-color: var( --pointOfInterest);
    border-radius: var(--borderradiusSmall);
    border: none;
    cursor: pointer;

    transition: all .3s;
}

button:hover {
    background-color: var( --pointOfInterestHover);
}

button:active {
    transform: scale( 1.1);
}
/* Clear Version _________________*/
.clearButton {
    padding: var( --paddingButtons);
    background-color: var( --glassMorphism);
    border-radius: var( --borderradiusMedium);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* UserNavigation___________________________________________________________________ */

header > h3 {
    font-family: 'MINIMALHARD2';
    font-size: calc( var(--titles) - 10px);
}

.homebutton-navigation img {
    height: 50px;
    width: 50px;

    object-fit: cover;
    cursor: pointer;
    background-color: var( --textColor);
    border-radius: var(--CIRKLE);
}

.switchViewMode {
    margin-left: 30%;
    background-color: var( --textColor);
}

.switchViewMode::before {
    content: '';
    display: block;
    height: 25px;
    width: 25px;

    background-image: url( "RESOURCES/ICONS/darkLightMode.png");
    background-size: cover;
}

.profileMenuNav-shortcut {
    position: absolute;
    z-index: 5;
    right: 15px;
    top: 85px;
    width: 20rem;

    background-color: var(--darkMorphism);
    padding: var(--paddingCardContainer);
    border-radius: var(--borderradiusMedium);
}

.profileMenuNav-loggedInUser {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: var(--paddingCardContainer);
    padding-bottom: calc( var(--paddingCardContainer) * 2);
    border-bottom: 2px solid var( --glassMorphism);
    border-radius: var(--borderradiusSmall);
    background-color: var(--darkMorphism);
}

.profile-loggedInAs {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--smallText);
}

.profileMenuNav-userOptionsContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
    padding: var(--paddingSections);
    gap: 15px;
}

.profileMenuNav-userOptions {
    border-bottom: 2px solid var(--glassMorphism);
    border-radius: var(--borderradiusSmall);
    padding: var(--paddingButtons);
    cursor: pointer;
}

.profileImg {
    height: 50px;
    width: 50px;
    border-radius: var(--CIRKLE);
    object-fit: cover;
    cursor: pointer;
}

#openModalDelete {
    text-align: center;
    color: rgb(179, 50, 50);
    cursor: pointer;
    background-color: var(--mainBackgroundColor);
    padding: var(--paddingButtons);
    border-radius: var(--borderradiusSmall);
}

.dialogDeleteAccount {
    position: fixed;
    top: 50%;
    left: 38%;
    background-color: #1c2b3a;
    border: none;
    border-radius: var(--borderradiusSmall);
}

.dialogDeleteAccount p {
    padding: 20px 0;
}

.dialogDeleteAccount #cancelDeleteAccount {
    background-color: rgb(179, 50, 50);
    margin-right: 70%;
}
.dialogDeleteAccount #deleteAccount {
    background-color: rgb(52, 179, 50);
}

/* backToTopButton */
#hiddenUntilLimit {
    /* display: none; */
    transform: translateX( 100px);
}

.backToTop {
    position: fixed;
    right: -25px;
    bottom: -25px;

    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    border-radius: 50%;

    transition: all .2s ease-in;
}

.backToTop:hover {
    transform: scale( 1.2);
    cursor: pointer;
    background-color: var( --pointOfInterest);
}

.backToTop::before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;

    background-image: url( "RESOURCES/ICONS/toTop.png");
    background-size: cover;
}

/* Animations GENERAL __________________________________________________*/
.buttonAnimation {
    overflow: hidden;
    position: relative;
}

.buttonAnimation::before {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var( --pointOfInterestHover);

    top: 75px;
    transition: transform 1s;
    z-index: -1;
    
}

.buttonAnimation:hover::before {
    transform: scale( 5);
}

@keyframes loadingAnimation {
    from {
        transform: scale( 0);
        opacity: .5;
    }
    40% { 
        transform: scale( 1.1);
        opacity: 1;
    }

    to {
        transform: scale( .3);
        opacity: 0;
    }
}

.loadingAnimationContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25px auto;
    gap: 10px;
}

.loadingAnimationContainer div {
    height: 15px;
    width: 15px;
    /* border: 1px solid black; */
    background-color: var( --textColor);
    border-radius: 50%;
}

.loading--animation {
    animation: loadingAnimation 1.5s ease-in-out infinite;
}

.loading--animationDelay--1ms {
    animation-delay: .1s;
}

.loading--animationDelay--3ms {
    animation-delay: .3s;
}

.loading--animationDelay--6ms {
    animation-delay: .6s;
}

.inputAnimationContainer {
    position: relative;
}

.inputAnimationContainer span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.252);
    transition: .5s;
}

.inputAnimationContainer input:valid ~ span,
.inputAnimationContainer input:focus ~ span {
    color: var(--pointOfInterest);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid var(--pointOfInterest);
    border-right: 1px solid var(--pointOfInterest);
    letter-spacing: .2em;
}

.inputAnimationContainer input:valid,
.inputAnimationContainer input:focus {
    border: 1px solid var(--pointOfInterest);
}

.maxCharacters {
    border: 1px solid rgb(109, 29, 29);
    animation: maxCharactersInput .3s;
}

@keyframes maxCharactersInput {
    25% { transform: translateX(4px);}
    50% { transform: translateX(-4px);}
    75% { transform: translateX(4px);}
}

@keyframes backgroundImageMovement {
    10%{ transform: skew( 5deg 5deg);}
    25%{ transform: scale( 1.05) skew( 5deg);}

    75%{ transform: translate(12px) scale( 1.1) skew( -5deg);}
    90%{ transform: skew(-1deg 6deg);}
}


