@font-face {
    font-family: 'Rubik-Bold', sans-serif;
    src: url("../RESOURCES/Rubik-Regular.ttf");
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url("../RESOURCES/Rubik-Light.ttf");
}

:root {

    /* COLORS________________________________________________________________ */
    --mainBackgroundColor: #0d1116;
    --textColor: #f5f5f5;
    --glassMorphism: rgba(255, 255, 255, 0.12);

    /* FONTSIZES______________________________________________________________ */
    --titles: 52px;
    --bodyText: 24px;
    --usernames: 18px;
    --smallText: 14px;

    /* Padding General________________________________________________________ */
    --paddingCardContainer: 5px;
    --paddingButtons: 10px;
    --paddingSections: 25px;

    /* BorderRadius____________________________________________________________ */
    --borderradiusSmall: 5px;
    --borderradiusMedium: 15px;
    --borderradiusLarge: 25px;
    --CIRKLE: 50%;
}


* {
    box-sizing: border-box;
    margin: 0;
    color: var(--textColor);

    font-family: 'Rubik', sans-serif;

    /* border: 1px solid white; */
}

.backgroundImage {
    top: 0;
    height: 100%;
    width: 95%;
    position: fixed;
    z-index: -1;
    filter: blur(35px);
    object-fit: cover;
}

body {
    background-color: var(--mainBackgroundColor);
    margin: 0 2%;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--paddingSections);
    /* height: 50px; */
    /* grid-area: 1 / span 2; */
}

section {
    height: 100vh;
    padding: var(--paddingSections);
}

section h1 {
    font-size: var(--titles);
}

section p {
    font-size: var(--bodyText);
}

.logo {
    cursor: pointer;
}

.loginButtonHeader, 
.registerButtonHeader {
    font-size: var(--usernames);
    padding: var(--paddingButtons);
    cursor: pointer;
    background-color: var(--glassMorphism);
    border-radius: var(--borderradiusSmall);
}


form * {
    color: black;
}