main {
    display: grid;
    grid-template-columns: 1fr;
}

.mainThread-allThreads {
    padding: var( --paddingSections);
    background-color: var(--lightMorphism);
    max-width: 50rem;
    margin: 0 auto;
}

.postContainer-mainThread {
    padding: var( --paddingCardContainer);
    border-radius: var( --borderradiusMedium) var(--borderradiusMedium) 0 0;
    background-color: var(--glassMorphism);
    margin: 10px 0 10px 0;
}

.userInfoContainer-mainThread {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var( --paddingCardContainer);
    background-color: var( --lightMorphism);
}

.userInfoPostPicture {
    height: 35px;
    width: 35px;
}

.postContent-mainThread {
    padding: var(--paddingCardContainer);
}
