main {
    display: grid;
    grid-template-columns: 1fr;
}

.mainThread-allThreads {
    padding: var( --paddingSections);
    background-color: var(--lightMorphism);
    max-width: 50rem;
    margin: 0 auto;
}

.postContainer-mainThread {
    padding: var( --paddingCardContainer);
    border-radius: var( --borderradiusMedium) var(--borderradiusMedium) 0 0;
    background-color: var(--glassMorphism);
    margin: 10px 0 10px 0;
}

.userInfoContainer-mainThread {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var( --paddingCardContainer);
    background-color: var( --lightMorphism);
}

.userInfoPostPicture {
    height: 35px;
    width: 35px;
}

.postContent-mainThread {
    padding: var(--paddingCardContainer);
}

.post_title-mainThread {
    cursor: pointer;
    padding-bottom: var(--paddingCardContainer);
    color: var(--pointOfInterest);
}

.post_title-mainThread:hover {
    color: var(--pointOfInterestHover);
}

.searchContainer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background: var( --glassMorphism);
    border-radius: var(--borderradiusLarge);
    
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border-bottom: 1px solid var( --pointOfInterest); */
}

.searchContainer input {
    background: none;
    padding: var( --paddingButtons);
    font-size: var( --smallText);
    color: var(--textColor);
}

.searchContainer button {
    width: 10%;
    height: 100%;
}

.searchContainer button::before {
    content: '';
    display: block;
    transform: scale(2);
    height: 25px;
    width: 25px;
    background-image: url( "../RESOURCES/search.png");
    background-position: center;
    background-size: cover;
}


.filterButtonsContainer-mainThread {
    margin: 10px auto;
}

.filterButtons-mainThread {
    background-color: var(--pointOfInterest);
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

.filterButtons-mainThread:hover {
    box-shadow: 1px 1px 8px white;
}