main {
    display: grid;
    grid-template-columns: 1fr;
}

.mainThread-allThreads {
    padding: var( --paddingSections);
    background-color: var(--lightMorphism);
    max-width: var(--maxWidthMainThread);
    margin: 0 auto;
}

.postContainer-mainThread {
    padding: var( --paddingCardContainer);
    border-radius: var( --borderradiusMedium) var(--borderradiusMedium) 0 0;
    background-color: var(--glassMorphism);
    margin: 10px 0 10px 0;
}

.userInfoContainer-mainThread {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var( --paddingCardContainer);
    background-color: var( --lightMorphism);
    position: relative;
}

.userInfoPostPicture {
    height: 35px;
    width: 35px;
}

.postContent-mainThread {
    padding: var(--paddingCardContainer);
}

.post_title-mainThread {
    cursor: pointer;
    padding-bottom: var(--paddingCardContainer);
    color: var(--pointOfInterest);
}

.post_title-mainThread:hover {
    color: var(--pointOfInterestHover);
}

/* Search Section _________________________________________________________ */
.sortSearchContainer-mainThread {
    padding: var(--paddingSections); 
    gap: var(--paddingButtons);
    max-width: var(--maxWidthMainThread);

    display: grid;
    grid-template-columns: 9fr 1fr;
    margin: 0 auto;
}

.filterButtonsContainer-mainThread {
    position: relative;
    width: 100%;
    background-color: transparent;
    border: none;

    grid-area: 2 / span 2;
}

.filterbuttons-FlexContainer {
    display: flex;
    align-items: center;
    gap: var(--paddingCardContainer);
}

.filterButtons-mainThread {
    display: block;
    width: 100%;
    border-bottom: 1px solid var( --pointOfInterestHover);

    display: flex;
}

.searchContainer {
    width: 100%;
    background: var( --glassMorphism);
    border-radius: var(--borderradiusLarge);
    
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border-bottom: 1px solid var( --pointOfInterest); */
}

.searchContainer input {
    background: none;
    padding: var( --paddingButtons);
    font-size: var( --smallText);
    color: var(--textColor);
}

.searchContainer button {
    width: 10%;
    height: 100%;
}

.searchContainer button::before {
    content: '';
    display: block;
    transform: scale(2);
    height: 25px;
    width: 25px;
    background-image: url( "../RESOURCES/search.png");
    background-size: cover;
}

.sortIcon::after {
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    background-image: url( "../RESOURCES/sort.png");
    background-size: cover;
}

.filterModalActive { 
    /* border: 2px solid var( --pointOfInterest); */
    transition: transform .2s;
    background-color: var( --pointOfInterestHover);
    transform: scale(1.1);
}
