.createPost {
    padding: var(--paddingSections);
}

.form {
    display: flex;
    flex-direction: column;
    
    gap: 50px;
    max-width: 65rem;
    /* margin: 0 auto; */
    padding: var(--paddingSections);
    background-color: var(--glassMorphism);
    border-radius: var(--borderradiusMedium);
}

.holderCard {
    padding: var( --paddingSections);
    background-color: var( --mainBackgroundColor);
    border-radius: var(--borderradiusSmall);
    display: flex;
    flex-direction: column;
}

.holderCard p {
    font-size: var(--smallText);
}

.questionContainer {
    position: relative;
}

.headerContainer-holderCard {
    margin: var(--paddingSections) 0;
}

.addCodeField-event {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;

    background-color: var(--glassMorphism);
    padding: var(--paddingButtons);
    border-radius: var(--borderradiusSmall);
}

input,
textarea {
    resize: vertical;
    padding: var( --paddingCardContainer);
}

.questionContainer textarea {
    min-height: 250px;
}

.descriptionContainer textarea {
    min-height: 100px;
}