.createPost {
    padding: var(--paddingSections);
}

.form {
    display: flex;
    flex-direction: column;

    gap: 50px;
    max-width: 65rem;
    /* margin: 0 auto; */
    padding: var(--paddingSections);
    background-color: var(--glassMorphism);
    border-radius: var(--borderradiusMedium);
}

.holderCard {
    padding: var(--paddingSections);
    background-color: var(--mainBackgroundColor);
    border-radius: var(--borderradiusSmall);
    display: flex;
    flex-direction: column;
}

.holderCard p {
    font-size: var(--smallText);
}

.questionContainer {
    position: relative;
}

.headerContainer-holderCard {
    margin: var(--paddingSections) 0;
}

.addCodeField-event {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;

    background-color: var(--glassMorphism);
    padding: var(--paddingButtons);
    border-radius: var(--borderradiusSmall);
}

input,
textarea {
    resize: vertical;
    padding: var(--paddingCardContainer);
}

.questionContainer textarea {
    min-height: 250px;
}

.descriptionContainer textarea {
    min-height: 100px;
}

#tagsListParent {
    display: flex;
    background-color: rgb(56, 56, 54);
    height: 60px;
    padding: 10px;
    border-radius: 10px;
}

.listTags {
    list-style: none;
    background-color: teal;
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#tagInput{
    width: 100%;
    background-color: rgb(56, 56, 54);
    color: white;
    border: none;
    font-size: 16px;
}

#tagInput:focus {
    outline: none;
}

#tagErrorMessage {
    height: 20px;
}

.removeTag {
    padding-left: 5px;
    cursor: pointer;
}