.postContainer-pageThread, 
.commentsContainer-threadPage {
    padding: var(--paddingSections);
    background-color: var(--darkMorphism);
}

.topInfoFlexContainer-pageThread {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* padding: var(--paddingButtons); */
    background-color: var(--glassMorphism);
    border-radius: var(--borderradiusSmall);
    margin-bottom: var(--paddingButtons); 
}

.topInfoFlexContainer-pageThread > div {
    padding: var(--paddingButtons);
}

.userInfoContainer-pageThread,
.userInfoContainer-comment {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.postInformationZone-pageThread,
.information-comment {
    background-color: var(--darkMorphism);
}

.InformationText-tread,
.information-comment > p {
    color: var(--pointOfInterest);
    font-size: var(--smallText);
}

.postTitleContainer-pageThread {
    /* margin: 1.5rem 0; */
    border-bottom: 1.5px solid var(--pointOfInterest);
    padding: var(--paddingButtons) var(--paddingButtons) 0 0;
    border-radius: var(--borderradiusSmall);

}


.postDescription-pageThread {
    padding: var(--paddingSections);

}

.postContent-pageThread {
    background-color: var(--lightMorphism);
    margin-top: 2.5rem;
    padding: var(--paddingSections);
}

.postContainer-pageThread pre {
    margin: 10px 0;
    max-height: 450px;
    overflow: scroll;
}

.notLoggedInMessage {
    padding: var( --paddingButtons);
    border-radius: var( --borderradiusSmall);
    background-color: var( --mainBackgroundColor);

    text-align: center;
}

/* COMMENT CSS ____________________________________________________________ */

.commentsContainer-threadPage {
    margin-top: 5px;
}

.comment-threadPage {
    background-color: var( --glassMorphism);
    border-radius: var( --borderradiusSmall);
    /* border: 1px solid var(--pointOfInterest); */
    margin-top: 10px;
    
    display: grid;
    grid-template-columns: 50px 1fr;
}

.likeContainer-comment, 
.commentContainer-comment {
    padding: var( --paddingButtons);
}

.createCommentModal-comment {
    /* min-height: 200px; */
    width: 95%;
    margin: 25px auto;
    border: none;
    
    background-color: var(--glassMorphism);
}

.createCommentModal-comment textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    padding: var(--paddingCardContainer);   
}

/* Likes Css___________________________________________________________________ */

.likeContainer-comment {
    background-color: var(--darkMorphism);
    color: var(--pointOfInterest);
    border-left: 2px solid var( --pointOfInterest);
}

.numberLikes-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: var(--usernames);
    /* color: var( --darkMorphism); */
    font-weight: bold;
}

.likedComment-pseudo::after,
.unlikedComment-pseudo::after {
    content: '';
    display: block;

    margin-top: 5px;
    height: 25px;
    width: 25px;
    background-size: cover;

    transition: all .2s ease-in-out;

}

.likedComment-pseudo::after {
    background-image: url( "../RESOURCES/likedPost.png");
}
.unlikedComment-pseudo::after {
    background-image: url( "../RESOURCES/unlikedPost.png");
}

.likedComment-pseudo:hover::after,
.unlikedComment-pseudo:hover::after {
    cursor: pointer;
    transform: scale( 1.2);
}