.postContainer-pageThread, 
.commentsContainer-threadPage,
.addComment-threadPage {
    padding: var(--paddingSections);
    background-color: var(--darkMorphism);
    max-width: 90rem;
    margin: 0 auto; 
}

.commentsContainer-threadPage,
.addComment-threadPage {
    padding-bottom: 0;
}

.topInfoFlexContainer-pageThread {
    display: flex;
    flex-direction: column;
    
    /* padding: var(--paddingButtons); */
    background-color: var(--glassMorphism);
    border-radius: var(--borderradiusSmall);
    margin-bottom: var(--paddingButtons); 
}

.topInfoFlexContainer-pageThread > div {
    padding: var(--paddingCardContainer);
}

.userInfoContainer-pageThread,
.userInfoContainer-comment {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px;
}

.threadUserContainerFlexItem {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.NRviews-pageThread {
    display: flex;
    align-items: center;
    min-width: 3rem;
    gap: 10px;
    
    color: black;
}    

.NRviews-pageThread::before {
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    background-image: url( "/RESOURCES/ICONS/views.png");
    background-size: cover;
}

.postInformationZone-pageThread,
.information-comment {
    background-color: var(--darkMorphism);
}

.InformationText-tread,
.information-comment > p {
    font-size: var(--smallText);
    font-style: italic;
}

/* THREAD BODY STYLES _______________________________________________________ */

.thread-PostContainer {
    padding-left: var( --paddingCardContainer);
    background-color: var( --glassMorphism);

    border-left: 2px solid transparent;
    border-image: linear-gradient(1turn, var(--pointOfInterestHover), var(--redPointOfInterestHover), var(--mainBackgroundColor));
    border-image-slice: 1;
    width:100%;
}

.postTitleContainer-pageThread {
    padding: var(--paddingButtons);
    padding-left: 0;
}

.postTitle-pageThread {
    font-weight: normal;
    padding: 5px;
    border-bottom: 2px solid var(--darkMorphism);
    color: var( --redPointOfInterest);
}

.postDescription-pageThread {
    font-size: var(--smallText);
    font-style: italic;
    padding: 5px;
    padding-right: var( --paddingSections);
    line-height: 22.5px;
}

.postContent-pageThread {
    background-color: var(--lightMorphism);
    margin-top: 1rem;
    padding: var(--paddingSections);
}

.postContainer-pageThread pre {
    margin: 10px 0;
    max-height: 450px;
    overflow: scroll;
}

.notLoggedInMessage {
    padding: var( --paddingButtons);
    border-radius: var( --borderradiusSmall);
    background-color: var( --mainBackgroundColor);

    text-align: center;
}

/* COMMENT CSS ____________________________________________________________ */

.commentsContainer-threadPage {
    margin-top: 5px;
}

.comment-threadPage {
    background-color: var( --glassMorphism);
    border-radius: var( --borderradiusSmall);
    /* border: 1px solid var(--pointOfInterest); */
    margin-top: 10px;
    
    display: grid;
    grid-template-columns: 50px 1fr;
}

.likeContainer-comment, 
.commentContainer-comment {
    padding: var( --paddingButtons);
}

.createCommentModal-comment {
    position: relative;
    width: 100%;
    /* margin: 35px auto; */
    border: none;
    border-radius: var( --borderradiusSmall);
    background-color: transparent;
}

.createCommentModal-comment textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    padding: var(--paddingCardContainer);   
}

.buttonsAddComment {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var( --paddingCardContainer);
    gap: 10px;
}

.addCodeField-event {
    margin: 5px;
}

.closeCommentModal {
    background-color: transparent;
    border-radius: var( --borderradiusMedium);
}
.closeCommentModal:hover {
    background-color: var( --glassMorphism);
} 

/* Likes Css___________________________________________________________________ */

.likeContainer-comment {
    background-color: var(--darkMorphism);
    color: var(--pointOfInterest);
    border-left: 2px solid var( --pointOfInterestHover);
}

.numberLikes-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: var(--usernames);
    /* color: var( --darkMorphism); */
    font-weight: bold;
}

#likedComment-pseudo::after,
#unlikedComment-pseudo::after {
    content: '';
    display: block;

    margin-top: 5px;
    height: 25px;
    width: 25px;
    background-size: cover;

    transition: all .2s ease-in-out;

}

#likedComment-pseudo::after {
    background-image: url( "/RESOURCES/ICONS/likedPost.png");
}
#unlikedComment-pseudo::after {
    background-image: url( "/RESOURCES/ICONS/unlikedPost.png");
}

#likedComment-pseudo:hover::after,
#unlikedComment-pseudo:hover::after {
    cursor: pointer;
    transform: scale( 1.2);
}