main {
    margin: 0;
}

section {
    min-height: 110vh;
    padding: var(--paddingSections);
    margin-left: 2%;
    overflow: hidden;
}

section h1 {
    font-size: var(--titles);
}

section p {
    font-size: var(--bodyText);
}

.logo {
    cursor: pointer;
}

span {
    color: var( --pointOfInterestHover);
}


.loginRegisterContainer {
    background-color: var(--mainBackgroundColor);
    padding: var(--paddingSections);
    border-radius: var(--borderradiusMedium);

    height: 30rem;
    width: 25rem;
    margin: 25px auto;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.loginRegisterContainer > form {
    display: flex;
    flex-direction: column;

    padding: var(--paddingButtons);
    gap: var(--paddingButtons);
    
}

.loginRegisterContainer > form input {
    padding: 10px;
}
.loginRegisterContainer > form button {
    margin-top: 30px;
    font-size: var(--usernames);
}

.loginRegisterContainer h2 {
    font-size: var(--bodyText);
    text-align: center;
}

#change {
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    transition: color .3s;
    border-top: 1px solid;
    padding-top: 20px;
}

#message {
    height: 25px;
    margin: 13px 0px 5px;
    text-align: center;
    font-size: 14px;
    color: #ff8300;
}

section:nth-child(2),
section:nth-child(4) {
    background-color: var(--darkMorphism);
}

/* FIRST SECTION */
section:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-left: 2px solid transparent;
    border-image: linear-gradient(1turn, var(--pointOfInterestHover), var(--redPointOfInterestHover), var(--mainBackgroundColor));
    border-image-slice: 1;
}

section:nth-child(1) > div {
    background-color: var( --glassMorphism);
    padding: var( --paddingSections);
    border-radius: var( --borderradiusMedium);
}

section:nth-child(1) div,
section:nth-child(1) a {
    margin-top: 10%;
}

.bouncingArrow {
    height: 50px;
    width: 50px;
    background-color: var( --redPointOfInterest);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: bounce 1.5s ease-in-out infinite;
}

.bouncingArrow::before {
    content: '';
    display: block;

    height: 30px;
    width: 30px;

    background-image: url( "/RESOURCES/ICONS/down-arrow.png");
    background-size: cover;
}

.welcomeTextUH {
    text-align: center;
}

@keyframes bounce {
    from {
        transform: translateY( 0);
    }
    50% {
        transform: translateY( 25px) scale( 1.1);
    }

    to {
        transform: translateY( 0);
    }
}

/* findAnswers_______________________________________________ */
section:nth-child(2){
    border-left: 2px solid var( --pointOfInterestHover);
    position: relative;
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
    overflow: hidden;

    /* transform: rotate( -25deg); */
}

section:nth-child(2) div {
    border-radius: var( --borderradiusSmall);
}

section:nth-child(2) > div:nth-child(1) {
    position: absolute;
    top: 75px;
    left: 50px;
    padding: var( --paddingSections);
    
}

section:nth-child(2) > div:nth-child(2){
    background-color: white;
    height: 65vh;
    width: 35vw;

    position: absolute;

    bottom: 45px;
    left: 150px;
    border-radius: 25px;
    overflow: hidden;
}

section:nth-child(2) > div:nth-child(3) {
    background-color: white;
    height: 50vh;
    width: 20vw;
    
    position: absolute;
    top: 20%;
    right: 5%;
}
section:nth-child(2) > div:nth-child(4) {
    background-color: white;
    height: 50vh;
    width: 20vw;

    position: absolute;
    right: 27%;
    bottom: 15%;
}

section:nth-child(2) > div h1 {
    color: var( --redPointOfInterest);
    text-align: center;
}

section:nth-child(2) > div p {
    text-align: center;
    padding: var( --paddingButtons);
}

/* AIT HELPER */

section:nth-child(3) {
    border-left: 2px solid var( --pointOfInterestHover);
}

/* WHO ARE WE */

/* join The Community _______________________________________________ */
section:last-child {
    border-left: 2px solid transparent;
    border-image: linear-gradient( var(--pointOfInterestHover), var(--redPointOfInterestHover), var(--mainBackgroundColor));
    border-image-slice: 1;
}

section:last-child p,
section:last-child h1 {
    text-align: center;
    margin: 10px 10vw;
}

section:last-child h1 {
    color: var( --saveOfInterest);
}


.hoveringUsers-WelcomePage {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    
    height: 35vh;
    margin-top: 10vh;
    gap: 1vw;
    padding: var( --paddingSections);
}

.HU-transform {
    /* transform: translateY( 100px); */
    margin-top: 100px;
}

.hoveringUser {
    height: 100%;
    border-radius: var( --borderradiusLarge);
    overflow: hidden;
}

.hoveringUser img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flexItem-joinClass {
    padding: var(--paddingSections);
    margin-top: 10%;
}

.registerButtonHeader {
    background-color: var(--textColor);
    color: var( --mainBackgroundColor);
    width: 25%;
    margin: 5px auto;

    transition: all .3s ease-in;
}

.registerButtonHeader:hover {
    transform: scale(.9);
}

/* OBSERVER */
.hidden {
    opacity: 0;
    filter: blur( 5px);
    transform: translateX( 100%); 
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur( 0);
    transform: translateX( 0);
    transform: translateY( 0);

}